{
    "printWidth": 80,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "singleAttributePerLine": false,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSameLine": true
}
